
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://oasthaus.fr/wp-content/uploads/2023/01/3_Queens_Ride_S2_044-scaled.jpg);">
    <div class="container">
      <h1>Luxe Integration brings <strong>tech expertise</strong> to <strong>all people</strong>!</h1>
      <p><span data-controller="typed-js"></span></p>
      <a class="btn btn-flat" href="#">Contact</a>
    </div>
  </div>
