
  <div class="banner">
    <div class="container">
      <h1>Luxe Integration brings <strong>tech expertise</strong> to <strong>all people</strong>!</h1>
      <p><span data-controller="typed-js"></span></p>
      <a class="btn btn-flat" href="#">Contact</a>
    </div>
  </div>
